

.footer-Area{
    
    background-color: #f6f6f6;
    height: 65px;
    
    
    .nav-icon{
        max-width: 15px;
        
        margin-left: 50%;
        padding-top: 17px;
          
          
        }
    
    .area-text{
            
   
        font-size: 13px;
        font-weight: 400;
       
        
    }
}

.footer-content{

    background-color: $xc-footer-grey-1;
    height: 547px;
    width: 100%;
    
        .footer-nav{
            
            padding: 2.3% 0%;
            
           .footer-nav-1{
            font-size: 17px;
            line-height: 3;
            font-weight: 700;
            letter-spacing: 2px;
            color: $xc-black-1; 
            
          
        }

            .border-footer{

                border-left: 1px solid #49494975;

                .black-text{
                    font-weight: 700;
                    color: black;
                }
                .footer-icon{
                    width: 24px;
                    float: left;
                    margin-right: 10px;
    
                }
            }
            
            .footer-nav-2{
                font-size: 15.2px;
                line-height: 1.1;
            }

            .footer-nav-3{
                padding-top: 67px;
                font-size: 14px;
                line-height: 1;
            }
            .footer-nav-4{
                font-size: 15.2px;
                line-height: 1.1;
                width: 270px;
               
            }
            .footer-nav-5{
                
                font-size: 14px;
                line-height: 1.5;
                width: 320px;
               
                .ssl{
                   
                    margin-left: 10px;
                }
            }
           
           
        }
}


.copyright-content{
    display: flex;
    height: 65px;
    color: white;
    font-size: 14px;
    
    background-color: #494949;


}


.accordion {
    background-color:#e1e1e1;
    color: black;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    transition: 0.4s;
    margin-top: 1px;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    font-size: 18px;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }


  .accordion-footer-nav1{
      margin-top: 23px;
      font-size: 14px;
      cursor: pointer;
     
      &:hover{
        text-decoration: underline;
    }
  }