/* Text-Image Carousel */
.c-image-style-content {
    margin-top: 30px;

    &__is-text {
        display: block;
        background-color: $xc-color-grey-light-2;
        @include border($xc-color-grey-light-7 1px solid, none, $xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid) height: 257px;
        padding-top: 90px;
        margin-right: -15px;
        margin-left: -15px;

        &__has-1 {
            display: flex;
            margin-bottom: 10px;
            font-size: $large-font;
            line-height: 1.333;
            margin: 9px;
        }

        &__has-2 {
            display: block;
            text-decoration: underline;
            font-weight: 700;
            font-size: $font-size;
            cursor: pointer;
        }
    }

    &__is-model {
        &__has-1 {
            @include background ("../../images/chino-cargo-mini1.jpg", right 45% bottom 15%, no-repeat, 170px);
            @include border($xc-color-grey-light-7 1px solid, none, $xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid) @extend %text-image-carousel;
        }

        &__has-2 {
            @include background ("../../images/chino-cargo-mini2.jpg", right 45% bottom 15%, no-repeat, 170px);
            @include border($xc-color-grey-light-7 1px solid, none, $xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid) @extend %text-image-carousel;
        }
    }

    &__is-tall {
        @include background ("../../images/chino-cargo-big-image.jpg", right 35% bottom 15%, no-repeat, cover);
        @include border($xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid) cursor: pointer;
        height: 584px;

        &:hover {
            filter: brightness(0.95);
        }
    }
}

/** 5 Casual Text **/
.carousel-image-top-text {
    margin-top: 73px;
    margin-bottom: 20px;
    width: 100%;
    color: $xc-color-black-1;
    font-weight: 700;
    line-height: 1.4;
    font-size: $exta-big-font;
}

/** 5 Casual Image **/
.c-carousel-image {
    &--has-1 {
        @include background ("../../images/caruasel-foto-3.jpg", right 45% bottom 15%, no-repeat, 339px);
        @include border($xc-color-grey-light-7 1px solid, none, $xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid);
    }

    &--has-2 {
        @include background ("../../images/caruasel-foto-1.jpg", right 45% bottom 15%, no-repeat, 159px);
        @include border($xc-color-grey-light-7 1px solid, none, $xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid);
        height: 292px;
    }

    &--has-3 {
        @include background ("../../images/caruasel-foto-2.jpg", right 45% bottom 15%, no-repeat, 159px);
        @include border($xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid);
        height: 292px;

    }

    &--has-4 {
        @include background ("../../images/caruasel-foto-3.jpg", right 45% bottom 15%, no-repeat, 159px);
        @include border(none, none$xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid);
        height: 292px;
    }

    &--has-5 {
        @include background ("../../images/caruasel-foto-4.jpg", right 45% bottom 15%, no-repeat, 159px);
        @include border(none, $xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid);
        height: 292px;
    }

}