.left-sidebar{
  &__cat{
    ffont-size: $default-font;
    font-weight: 700;
    line-height: 1.5;
  }
  &__dropdown-content{
    margin-top: 0.4rem;
    margin-left: 0.7rem;
    &--text{
      font-size: 0.9rem;
      display: block;
      line-height: 1.8;
    }
  }
}