/* left-sidebar */
.dropdown {
  position: relative;
  display: inline-block;

  .dropbtn {
    color: $xc-color-black-1;
    font-size: $medium-2-font;
    border: none;
    cursor: pointer; }

    .dropdown-content {
      display: none;
      position: absolute;
      text-decoration: none;
      min-width: 260px;
      overflow: auto;
      z-index: 1;

      a {
        color: $xc-color-black-1;
        padding: 5px 0px;
        display: block;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        line-height: 18px;
        font-size: $medium-font;
      }

      .cat-btn-text span {
        color: $xc-color-black-1;
        margin-left: 20px;
        border-bottom: 2px solid transparent;

        &:hover {
          border-color: $xc-color-black-1;
        }
      }
    } 
}

.show {
  display: block;
  box-shadow: none !important;
}

.damen {
  font-size: $medium-font;
  font-weight: bold;
}