.hedar-text-ext{
    font-family: $font-family; 
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.3px;
    color: $xc-black-1;
    font-weight: 600;
    
};
.home-banner-text-ext{
    margin: 10px 30px;
    color: $xc-black-1;
}

.carousel-image{
  
    
    
    border-left: #e7e7e7 1px solid;
    border-bottom: #e7e7e7 1px solid;
   
    
}
