.profil {
    &__welcome {
        &--title {
            font-size: $exta-big-font;
            font-weight: 600;
        }

        &--text {
            line-height: 1.44;
            margin-top: 10px;
        }
    }

    &__last-order {
        margin-top: 20px;
        @include max-tablet{
            display: none;
        }

        &--title {
            font-size: $medium-2-font;
            font-weight: 600;
        }

        &--content {
            display: block;
            position: relative;
            height: 150px;

            &__circle {
                position: absolute;
                left: 50%;
                top: 20px;
                border-radius: 50%;
                border: 1px dashed #282828;
                padding: 15px;
                width: 60px;
                height: 60px;

                &--img {
                    width: 30px;
                }
            }

            &--text {
                position: absolute;
                left: 38%;
                top: 95px;
                font-weight: 600;

            }
        }
    }

    &__contact {
        @include max-tablet{
            display: none;
        }
        &--title {
            font-size: $medium-2-font;
            font-weight: 600;

        }

        &--info {
            width: 50%;
            border: 1px solid #dfdfdf;
            font-size: $medium-font;
            padding: 15px;
          

            &--title {
                color: #282828;
                font-weight: 600;
            }

            &--username {
                margin-top: 10px;
                font-size: $default-font;
                line-height: 1.8;
            }

            &--mail {
                font-size: $default-font;
                line-height: 1.8;
            }

            &--edit-button {
                display: flex;
                justify-content: flex-end;
                margin-top: 30px;

                a {
                    &:hover {
                        text-decoration: none;
                    }
                }

                &--img {
                    width: 20px;
                    margin-bottom: 6px;

                }

                span {
                    font-size: $default-font;
                    line-height: 1.8;
                    margin-left: 4px;
                    margin-top: 5px;

                }
            }

        }
    }

    &__adress {
        margin-top: 36px;
        @include max-tablet{
            display: none;
        }

        &--title {
            font-size: $medium-2-font;
            font-weight: 600;
            
        }

        &--billing {
           
            border: 1px solid #dfdfdf;
            font-size: $medium-font;
            padding: 15px;
           
            &--title {
                color: #282828;
                font-weight: 600;
            }

            &--text {
                margin-top: 10px;
                font-size: $default-font;

            }

            &--button {
                display: flex;
                justify-content: flex-end;
                margin-top: 30px;

                a {
                    &:hover {
                        text-decoration: none;
                    }
                }

                &--img {
                    width: 20px;
                    margin-bottom: 6px;

                }

                span {
                    font-size: $default-font;
                    line-height: 1.8;
                    margin-left: 4px;
                    margin-top: 5px;

                }
            }
        }

        &--delivery {

            border: 1px solid #dfdfdf;
            font-size: $medium-font;
            padding: 15px;
          
        }
    }
}


.orders{
&__title{
    display: flex;
    ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    div:first-child{
        font-size: $exta-big-font;
        font-weight: 600;
    }
    button{
        width: 200px;
        height: 40px;
        background-color: black;
        color: white;
        border-radius: 4px;
    }
}

&__content{
    &__filter{
        span{
            position: absolute;
            top: 13px;
            right: 200px;
        
        }
        &--select-button{
            position: absolute;
            display: block;
            max-width: 200px;
            min-width: 180px;
            top: 0;
            right: 0;
            border: 2px solid #858484;;
            background-color: white;
            z-index: 1;
          
            select {
              border: none;
              outline: none;
              background: transparent;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              border-radius: 0;
              margin: 0;
              display: block;
              width: 100%;
              padding: 12px 55px 15px 15px;
              font-size: 14px;
              color: black;
            }
          
            &:after {
              position: absolute;
              right: 0;
              top: 0;
              width: 50px;
              height: 100%;
              line-height: 48px;
              content: "∨";
              text-align: center;
              color: black;
              font-size: 18px;
              border-left: 1px solid  #858484;
              z-index: -1;
            }
        }
        &--search{
          
            &__is-content{
                input{
                    &:focus{
                        border: none;
                    }
                }
                &--search-icon{
                    position: absolute;
                    margin-top: 16px;
                    margin-left: 10px;
                }
                &--input{
                    width: 34%;
                    height: 50px;
                    padding-left: 45px;
                    border: #ccc solid 1.5px;
                    border-radius: 5px;
                }
            }

        }
    }

    &--circle{
        margin-left: 350px;
        border-radius: 50%;
        border: 1px dashed #282828;
        padding: 15px;
        width: 120px;
        height: 120px;
        margin-top: 50px;
        &--img{
            width: 87px;

        }
    }
  &--text{
      text-align: center;
      margin-top: 10px;
      font-weight: 600;
  }
  &--button{
    button{
        background-color: black;
    color: white;
    padding: 10px;
    margin-left: 315px;
    margin-top: 45px;
    width: 200px;
    }
}
}

}


.mobil-space {
    height: 10px;
    background-color: #eeeeee;
}

.footer-home-link {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}
