.left-mini-slider{
    @include max-desktop {
        display: none;
    }
    height: auto;
    &:hover{
        cursor: grab;
        .left-mini-slider__border{
            border: 2px solid black;
           
        }
        
    }
    &__img{
        height: 113px;
        width: auto;
        filter: brightness(0.95);
    }
    &__border{
        border: 2px solid white;
        margin-bottom: 5px;
        width: 122%;
    }
}

.product-image-content{
    @include max-laptop {
        margin-top: 20px;
    }
    &__img{
        width: 550px; 
        height: 730px;
    }
}

.brand-logo{
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.variation-name{
    font-size: 19px;
}

.star-rating{
    position: absolute;
    right: 21px;
    top: 10px;
}
.price-table{
    margin-top:20px;
.price{
   margin-top: 4%;
   color: #ce3535;
   font-size: 18px;

   font-weight: 700;
}
.inkl{
    font-size: 12px;
    color: #bababa;
    letter-spacing: 0.3px;
    margin-left: 3px;

}}
.percentage-discount{
    color: #ce3535;
    font-size: 12px;
    letter-spacing: .3px;
    line-height: 1.5;
}
.rate-discount{
    margin-left: 1% ;
    text-decoration: line-through;
    font-size: 14px;
    letter-spacing: .4px;
}
.farbe{
    margin-top: 20px;
    &__text{
        font-weight: 600;
        font-size: 14px;
        line-height: 17px; }
  
        &__color{
        margin-left: 3%;
            font-size: 14px;
        }
       
}
.slider-product-items{
    margin-top: 15px;
    height: 80px;
    display: flex;
    &__item{
       margin-right: 10px;
       &:hover{
        cursor: pointer;
           .slider-product-items__item--border{
            border: 2px solid black;
            
           }
       }
        &--img{
            height: 80px;
        }
        &--border{
        border: 2px solid white;
        width: 100%;
        margin-top: 1px;
        }
    }
}

.size-grobe-button{
    margin-top: 25px;
    border: solid 2px black;
    height: 50px;
    background-color: white;
    width: 100%;
    border-radius: 0px;
    &__text{
        position: absolute;
        font-weight: 600;
        text-transform: inherit;
        left: 30px;
        top: 40px;
    }
    &__arrow{
        position: absolute;
        right: 32px;
        top: 40px;
    }
     }

.versand{
    margin-top: 25px;
    background-color: #f3f3f3;
    font-size: 13px;
    padding-top: 12px;
    padding-bottom: 12px;
    &__truck{
        height: 28px;
        width: auto;
        margin-right: 4%;
        margin-left: 5%;
    }

}
.add-cart{
    width: 102%;
    margin-top: 25px;
    height: 51px;
    background-color: #282828;
    color: white;
    text-transform: uppercase;
    letter-spacing: .3px;
    border-radius: 0;
    @include max-laptop{
        width: 100%;
    }
    &__text{
    position: absolute;
    left: 30px;
    top: 41px;

    }
    &__bag{
        width: 20px;
    position: absolute;
    right: 24px;
    top: 42px;
        @include max-laptop{
            right: 40px;
        }
    }
}

.add-wishlist{
    border: 2px solid black;
    margin-top: 25px;
    padding: 8px;
    @include max-laptop{
        display: none;
    }
}
.payment{
    margin-top: 25px; 
}

/* middle content*/

/* DESCRIPTION*/
.description{
    margin-top: 25px;
    margin-bottom: 25px;
    &__property{
    &__is-head{ 
            color: #484848;
            text-transform: uppercase;
            margin-bottom: 5px;
            margin-top: 20px;
            font-size: $default-font;
            line-height: 1.7;
            letter-spacing: 2px;
            font-weight: 700;}
  
    &__is-text{
        margin-top: 20px;
        &--ul{
            margin-left: 16px;
            &--li{
                font-size: $medium-font;
                list-style: square;
                color: #484848;
                line-height: 25px;
            }
        }
    }
}

 &__shipping{
     &__is-head{
        color: #484848;
        text-transform: uppercase;
        margin-bottom: 5px;
        margin-top: 20px;
        font-size: $default-font;
        line-height: 1.7;
        letter-spacing: 2px;
        font-weight: 700;
     }
     &__is-text{
        margin-top: 20px;
        &--img{
            float: left;
            margin-top: 6px;
        }
         &--has-1{
            margin-left: 30px;
            &__title{
                font-size: $medium-font;
                font-weight: 600;
                list-style: square;
                color: #484848;
                line-height: 25px;
                margin-bottom: 2px;
            }
            &__text{
                font-size: $medium-font;
                list-style: square;
                color: #484848;
                line-height: 25px;
                margin-bottom: 6px;
            }
         }
         &--has-2{
            margin-left: 30px;
            &__title{
                font-size: $medium-font;
                font-weight: 600;
                list-style: square;
                color: #484848;
                line-height: 25px;
                margin-bottom: 2px;
            }
            &__text{
                font-size: $medium-font;
                list-style: square;
                color: #484848;
                line-height: 25px;
                margin-bottom: 6px;
                span{
                    color:red;
                }
            }
         }
     }
 }
 a{
    &:hover{
        text-decoration: none;
    }
 }
 &__hide-button{
    margin: 0 auto;
    margin-top: 51px;
    padding: 5px 57px;
    border: 2px solid #ddd;
    font-size: $medium-font;
    background-color: #fff;
    color: #2d2d2d;
    min-width: 106px;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 2.2px;
    width: 305px;
    
 }
}

/* rating */
.rating {

    &__head{
        font-size: $exta-big-font;
    }
    &__count{
        float: right;
        margin-top: 15px;
        font-weight: 600;
        text-decoration: underline;
    }
    &__statistics {
        margin-top: 45px;

        &__point {
            margin-left: 35px;

            &--border {
                background: url("/images/balon.png");
                height: 200px;
                background-repeat: no-repeat;
                background-size: inherit;

                .note {
                    position: absolute;
                    left: 113px;
                    background-color: white;
                    width: 50px;
                    text-align: center;
                    top: -5px;
                    font-weight: 600;
                    font-size: 14px;
                    color: #919191;
                }

                &__stars {
                    width: 128px;
                    height: 20px;
                    display: inline-block;
                    margin: 0 auto;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-left: 25px;
                    margin-top: 30px;

                    &--star {
                        width: 126px;
                        height: 25px;
                        background: url(https://cdn1.clubfashion24.de/wp-content/uploads/2019/12/star-gray-new.png) repeat-x;
                        vertical-align: middle;
                        background-size: contain;
                        margin-top: -4px;
                        float: right;

                        span {
                            background: url(/images/star-light_yellow.png) repeat-x;
                            height: 25px;
                            background-size: contain;
                            display: block;
                        }
                    }
                }
                &__count{
                    margin: -22px 30px;
                    width: 115px;
                    color: #919191;
                    font-size: 84px;
                }

            }
        }

        &__options{
            &--option{
              margin-bottom: 9px;
                &__stars{
                    margin-top: 4px;
                    width: 80px;
                    float: left;
                    height: auto;
                    background: url(https://cdn1.clubfashion24.de/wp-content/uploads/2019/12/star-gray-new.png) repeat-x;
                    vertical-align: middle;
                    background-size: contain;
                    
                    &__star{
                        background: url(/images/star-light_yellow.png) repeat-x;
                        height: 16px;
                        background-size: contain;
                        display: block;
                        width: 80px;
                    }

                    }
                    &__text{
                        float: left;
                        font-size: 12px;
                        font-weight: 700;
                        padding-left: 10px;
                        margin-top: 4px;
                    
                    }
                    &__bar{
                        float: left;
                        margin-top: 7px;
                        margin-left: 14px;
                        padding-top: 1px;
                        width: 162px;
                        height: 12px;
                        -webkit-border-radius: 10px;
                        -ms-webkit-radius: 10px;
                        zoom: 1;
                        background-color: #eee;
                        &--color{
                            height: 8px;
                            margin-top: 1px;
                            display: block;
                            background-color: #ffbc00;
                            text-indent: -9999px;
                            -webkit-border-radius: 10px;
                            width: 90%;
                        }
                    }
                    &__count{
                        font-size: 12px;
                        border: 1px solid #919191;
                        display: inline-block;
                        margin-left: 10px;
                        padding: 2px;
                    }
            }
        }

        &__button-1{
            margin-top: 35px;
            width: 200px;
        }
        &__button-2{
            margin-top: 17px;
            width: 200px;
        }
    }
}


.comment{
    &__filter{
    background-color: #f0f0f0;
    min-height: 50px;
    margin-bottom: 20px;
        &__dropdown{
            padding-top: 10px;
            &:hover .comment__filter__dropdown__content{
                display: block;
            }

            float: left;
            overflow: hidden;
            font-size: 13px;  
            border: none;
            outline: none;
            color: white;
            background-color: inherit;
            margin: 0;
            &--button{
                font-size: 13px;  
                border: 1px solid #ccc;
                outline: none;
                color: black;
                padding-top: 5px;
                padding-bottom: 5px;
                width: 172px;
                background-color: white;
                margin: 0;
                .all{
                   
                }
                img{
                    margin-left: 5px;
                    margin-right: 3px;
                    width: 5px;
                }
            }
       
        &__content{
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

            a{
                float: none;
                color: black;
                padding: 5px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                &:hover{
                    background-color: #ddd;
                }
            }
        }
    }
    }

    &__row{
        &__stars{
            @include stars (107px,21px,105px)
        }
    }
}
