.left-mini-slider{
    @include max-desktop {
        display: none;
    }
    height: auto;
    &:hover{
        cursor: grab;
        .left-mini-slider__border{
            border: 2px solid black;
           
        }
        
    }
    &__img{
        height: 113px;
        width: auto;
        filter: brightness(0.95);
    }
    &__border{
        border: 2px solid white;
        margin-bottom: 5px;
        width: 122%;
    }
}

.product-image-content{
    @include max-laptop {
        margin-top: 20px;
    }
    &__img{
        width: 550px; 
        height: 730px;
    }
}

.brand-logo{
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.variation-name{
    font-size: 19px;
}

.star-rating{
    position: absolute;
    right: 21px;
    top: 10px;
}
.price-table{
    margin-top:20px;
.price{
   margin-top: 4%;
   color: #ce3535;
   font-size: 18px;

   font-weight: 700;
}
.inkl{
    font-size: 12px;
    color: #bababa;
    letter-spacing: 0.3px;
    margin-left: 3px;

}}
.percentage-discount{
    color: #ce3535;
    font-size: 12px;
    letter-spacing: .3px;
    line-height: 1.5;
}
.rate-discount{
    margin-left: 1% ;
    text-decoration: line-through;
    font-size: 14px;
    letter-spacing: .4px;
}
.farbe{
    margin-top: 20px;
    &__text{
        font-weight: 600;
        font-size: 14px;
        line-height: 17px; }
  
        &__color{
        margin-left: 3%;
            font-size: 14px;
        }
       
}
.slider-product-items{
    margin-top: 15px;
    height: 80px;
    display: flex;
    &__item{
       margin-right: 10px;
       &:hover{
        cursor: pointer;
           .slider-product-items__item--border{
            border: 2px solid black;
            
           }
       }
        &--img{
            height: 80px;
        }
        &--border{
        border: 2px solid white;
        width: 100%;
        margin-top: 1px;
        }
    }
}

.size-grobe-button{
    margin-top: 25px;
    border: solid 2px black;
    height: 50px;
    background-color: white;
    width: 100%;
    border-radius: 0px;
    &__text{
        position: absolute;
        font-weight: 600;
        text-transform: inherit;
        left: 30px;
        top: 40px;
    }
    &__arrow{
        position: absolute;
        right: 32px;
        top: 40px;
    }
     }

.versand{
    margin-top: 25px;
    background-color: #f3f3f3;
    font-size: 13px;
    padding-top: 12px;
    padding-bottom: 12px;
    &__truck{
        height: 28px;
        width: auto;
        margin-right: 4%;
        margin-left: 5%;
    }

}
.add-cart{
    width: 102%;
    margin-top: 25px;
    height: 51px;
    background-color: #282828;
    color: white;
    text-transform: uppercase;
    letter-spacing: .3px;
    border-radius: 0;
    @include max-laptop{
        width: 100%;
    }
    &__text{
    position: absolute;
    left: 30px;
    top: 41px;

    }
    &__bag{
        width: 20px;
    position: absolute;
    right: 24px;
    top: 42px;
        @include max-laptop{
            right: 40px;
        }
    }
}

.add-wishlist{
    border: 2px solid black;
    margin-top: 25px;
    padding: 8px;
    @include max-laptop{
        display: none;
    }
}
.payment{
    margin-top: 25px; 
}

/* middle content*/

/* DESCRIPTION*/
.description{
    margin-top: 25px;
    margin-bottom: 25px;
    &__property{
    &__is-head{ 
            color: #484848;
            text-transform: uppercase;
            margin-bottom: 5px;
            margin-top: 20px;
            font-size: $default-font;
            line-height: 1.7;
            letter-spacing: 2px;
            font-weight: 700;}
  
    &__is-text{
        margin-top: 20px;
        &--ul{
            margin-left: 16px;
            &--li{
                font-size: $medium-font;
                list-style: square;
                color: #484848;
                line-height: 25px;
            }
        }
    }
}

 &__shipping{
     &__is-head{
        color: #484848;
        text-transform: uppercase;
        margin-bottom: 5px;
        margin-top: 20px;
        font-size: $default-font;
        line-height: 1.7;
        letter-spacing: 2px;
        font-weight: 700;
     }
     &__is-text{
        margin-top: 20px;
        &--img{
            float: left;
            margin-top: 6px;
        }
         &--has-1{
            margin-left: 30px;
            &__title{
                font-size: $medium-font;
                font-weight: 600;
                list-style: square;
                color: #484848;
                line-height: 25px;
                margin-bottom: 2px;
            }
            &__text{
                font-size: $medium-font;
                list-style: square;
                color: #484848;
                line-height: 25px;
                margin-bottom: 6px;
            }
         }
         &--has-2{
            margin-left: 30px;
            &__title{
                font-size: $medium-font;
                font-weight: 600;
                list-style: square;
                color: #484848;
                line-height: 25px;
                margin-bottom: 2px;
            }
            &__text{
                font-size: $medium-font;
                list-style: square;
                color: #484848;
                line-height: 25px;
                margin-bottom: 6px;
                span{
                    color:red;
                }
            }
         }
     }
 }
 a{
    &:hover{
        text-decoration: none;
    }
 }
 &__hide-button{
    margin: 0 auto;
    margin-top: 51px;
    padding: 5px 57px;
    border: 2px solid #ddd;
    font-size: $medium-font;
    background-color: #fff;
    color: #2d2d2d;
    min-width: 106px;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 2.2px;
    width: 305px;
    
 }
}