.left-mini-slider {
    @include max-desktop {
        display: none;
    }

    height: auto;

    &:hover {
        cursor: grab;

        .left-mini-slider__border {
            border: 2px solid black;

        }

    }

    &__img {
        height: 113px;
        width: auto;
        filter: brightness(0.95);
    }

    &__border {
        border: 2px solid white;
        margin-bottom: 5px;
        width: 122%;
    }
}

.product-image-content {
    @include max-laptop {
        margin-top: 20px;
    }

    &__img {
        width: 550px;
        height: 730px;
        @include max-tablet {
            width: auto;
            height: 500px;
        }
    }
    &--discount {
        position: absolute;
    top: 7%;
    left: 5%;
    background-color: white;
    border: 1px solid #e7e7e7;
    color: #db2b1d;
    width: 50px;
    text-align: center;
    font-size: 0.8rem;
    height: 22px;
    font-weight: 600;
    padding-top: 2px;
    @include min-tablet {
        display: none;
     }
    }
    &--heart{
        position: absolute;
    z-index: 1;
    right: 5%;
    border: 1px solid #e4e3e3;
    top: 6%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #f3f3f3;
    border-radius: 110%;
    @include min-tablet {
        display: none;
     }
    }
    &--share{
        position: absolute;
        z-index: 1;
        right: 5%;
        border: 1px solid #e4e3e3;
        top: 16%;
        width: 40px;
        height: 40px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #f3f3f3;
        border-radius: 110%;
        @include min-tablet {
            display: none;
         }
    }
    &--next{
        position: absolute;
        z-index: 1;
        right: 5%;
        border: 1px solid #e4e3e3;
        top: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        background: white;
        @include min-tablet {
            display: none;
         }
 

        &--icon{
            width: 30px;
            color: white;
           position: absolute;
           top: 10px;
           left: 10px;
        }
    }
}

.brand-logo {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.variation-name {
    font-size: 19px;
}

.star-rating {
    position: absolute;
    right: 21px;
    top: 10px;
}

.price-table {
    margin-top: 20px;

    .price {
        margin-top: 4%;
        color: #ce3535;
        font-size: 18px;

        font-weight: 700;
    }

    .inkl {
        font-size: 12px;
        color: #bababa;
        letter-spacing: 0.3px;
        margin-left: 3px;

    }
}

.percentage-discount {
    color: #ce3535;
    font-size: 12px;
    letter-spacing: .3px;
    line-height: 1.5;
}

.rate-discount {
    margin-left: 1%;
    text-decoration: line-through;
    font-size: 14px;
    letter-spacing: .4px;
}

.farbe {
    margin-top: 20px;

    &__text {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }

    &__color {
        margin-left: 3%;
        font-size: 14px;
    }

}

.slider-product-items {
    margin-top: 15px;
    height: 80px;
    display: flex;

    &__item {
        margin-right: 10px;

        &:hover {
            cursor: pointer;

            .slider-product-items__item--border {
                border: 2px solid black;

            }
        }

        &--img {
            height: 80px;
        }

        &--border {
            border: 2px solid white;
            width: 100%;
            margin-top: 1px;
        }
    }
}

.size-grobe-button {
    margin-top: 25px;
    border: solid 2px black;
    height: 50px;
    background-color: white;
    width: 100%;
    border-radius: 0px;

    &__text {
        position: absolute;
        font-weight: 600;
        text-transform: inherit;
        left: 30px;
        top: 40px;
    }

    &__arrow {
        position: absolute;
        right: 32px;
        top: 40px;
    }
}

.versand {
    margin-top: 25px;
    background-color: #f3f3f3;
    font-size: 13px;
    padding-top: 12px;
    padding-bottom: 12px;
    @include max-phone{
        text-align: center;
    }
    &__truck {
        height: 28px;
        width: auto;
        margin-right: 4%;
        margin-left: 5%;
    }

}

.add-cart {
    width: 102%;
    margin-top: 25px;
    height: 51px;
    background-color: #282828;
    color: white;
    text-transform: uppercase;
    letter-spacing: .3px;
    border-radius: 0;

    @include max-laptop {
        width: 100%;
    }

    &__text {
        position: absolute;
        left: 30px;
        top: 41px;

    }

    &__bag {
        width: 20px;
        position: absolute;
        right: 24px;
        top: 42px;

        @include max-laptop {
            right: 40px;
        }
    }
}

.add-wishlist {
    border: 2px solid black;
    margin-top: 25px;
    padding: 8px;

    @include max-laptop {
        display: none;
    }
}

.payment {
    margin-top: 25px;
}

/* middle content*/

/* DESCRIPTION*/
.description {
    margin-top: 25px;
    margin-bottom: 25px;

    &__property {
        &__is-head {
            color: #484848;
            text-transform: uppercase;
            margin-bottom: 5px;
            margin-top: 20px;
            font-size: $default-font;
            line-height: 1.7;
            letter-spacing: 2px;
            font-weight: 700;
        }

        &__is-text {
            margin-top: 20px;

            &--ul {
                margin-left: 16px;

                &--li {
                    font-size: $medium-font;
                    list-style: square;
                    color: #484848;
                    line-height: 25px;
                }
            }
        }
    }

    &__shipping {
        &__is-head {
            color: #484848;
            text-transform: uppercase;
            margin-bottom: 5px;
            margin-top: 20px;
            font-size: $default-font;
            line-height: 1.7;
            letter-spacing: 2px;
            font-weight: 700;
        }

        &__is-text {
            margin-top: 20px;

            &--img {
                float: left;
                margin-top: 6px;
            }

            &--has-1 {
                margin-left: 30px;

                &__title {
                    font-size: $medium-font;
                    font-weight: 600;
                    list-style: square;
                    color: #484848;
                    line-height: 25px;
                    margin-bottom: 2px;
                }

                &__text {
                    font-size: $medium-font;
                    list-style: square;
                    color: #484848;
                    line-height: 25px;
                    margin-bottom: 6px;
                }
            }

            &--has-2 {
                margin-left: 30px;

                &__title {
                    font-size: $medium-font;
                    font-weight: 600;
                    list-style: square;
                    color: #484848;
                    line-height: 25px;
                    margin-bottom: 2px;
                }

                &__text {
                    font-size: $medium-font;
                    list-style: square;
                    color: #484848;
                    line-height: 25px;
                    margin-bottom: 6px;

                    span {
                        color: red;
                    }
                }
            }
        }
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }

    &__hide-button {
        margin: 0 auto;
        margin-top: 51px;
        padding: 5px 57px;
        border: 2px solid #ddd;
        font-size: $medium-font;
        background-color: #fff;
        color: #2d2d2d;
        min-width: 106px;
        text-transform: uppercase;
        line-height: 22px;
        letter-spacing: 2.2px;
        width: 305px;

    }
}

/* rating */
.rating {
    .options{
        @include max-laptop{
            display: none;
         }
    }
    &__head {
        font-size: $exta-big-font;
    }

    &__count {
        float: right;
        margin-top: 15px;
        font-weight: 600;
        text-decoration: underline;
        @include max-laptop{
            display: none;
        }
    }

    &__statistics {
        margin-top: 45px;
        @include max-laptop{
            margin-top: 30px;
            margin-bottom: 30px;
         }

        &__point {
            margin-left: 35px;
            @include max-laptop{
                display: flex;
                justify-content: center !important;
                margin-bottom: 30px;
                margin-left: 0;
               
            }
            

            &--border {
                background: url("/images/balon.png");
                height: 200px;
                background-repeat: no-repeat;
                background-size: inherit;
                @include max-laptop{
                    background: none;
                    height: 0;
                }

                .note {
                    position: absolute;
                    left: 113px;
                    background-color: white;
                    width: 50px;
                    text-align: center;
                    top: -5px;
                    font-weight: 600;
                    font-size: 14px;
                    color: #919191;
                    @include max-laptop{
                        display: none;
                    }
                }

                &__stars {
                    width: 128px;
                    height: 20px;
                    display: inline-block;
                    margin: 0 auto;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-left: 25px;
                    margin-top: 30px;
                    @include max-laptop{
                        margin-top: 2px;
                      
                    }

                    &--star {
                        width: 126px;
                        height: 25px;
                        background: url(https://cdn1.clubfashion24.de/wp-content/uploads/2019/12/star-gray-new.png) repeat-x;
                        vertical-align: middle;
                        background-size: contain;
                        margin-top: -4px;
                        float: right;
                        @include max-laptop{
                            width: 147px;
                            height: 30px;
                        }

                        span {
                            background: url(/images/star-light_yellow.png) repeat-x;
                            height: 25px;
                            background-size: contain;
                            display: block;
                            @include max-laptop{
                                height: 30px;
                            }
                        }
                    }
                }

                &__count {
                    margin: -22px 30px;
                    width: 115px;
                    color: #919191;
                    font-size: 84px;
                    @include max-laptop{
                        margin-top: 0px;
                        padding-left: 19px;
                        font-size: 46px;
                    }
                }

            }
        }

        &__options {
           
            @include max-laptop{
               display: none;
            }
            &--option {
                margin-bottom: 9px;

                &__stars {
                    margin-top: 4px;
                    width: 80px;
                    float: left;
                    height: auto;
                    background: url(https://cdn1.clubfashion24.de/wp-content/uploads/2019/12/star-gray-new.png) repeat-x;
                    vertical-align: middle;
                    background-size: contain;
                   
                    &__star {
                        background: url(/images/star-light_yellow.png) repeat-x;
                        height: 16px;
                        background-size: contain;
                        display: block;
                        width: 80px;
                    }

                }

                &__text {
                    float: left;
                    font-size: 12px;
                    font-weight: 700;
                    padding-left: 10px;
                    margin-top: 4px;

                }

                &__bar {
                    float: left;
                    margin-top: 7px;
                    margin-left: 14px;
                    padding-top: 1px;
                    width: 162px;
                    height: 12px;
                    -webkit-border-radius: 10px;
                    -ms-webkit-radius: 10px;
                    zoom: 1;
                    background-color: #eee;

                    &--color {
                        height: 8px;
                        margin-top: 1px;
                        display: block;
                        background-color: #ffbc00;
                        text-indent: -9999px;
                        -webkit-border-radius: 10px;
                        width: 90%;
                    }
                }

                &__count {
                    font-size: 12px;
                    border: 1px solid #919191;
                    display: inline-block;
                    margin-left: 10px;
                    padding: 2px;
                }
            }
        }
        &__button{
            @include max-laptop{
                text-align: center;
                margin-top: 35px;
             }
        &-1 {
            margin-top: 35px;
            width:200px;
            @include max-laptop{
                width: 92vw;
             }
        }

        &-2 {
            margin-top: 17px;
            width: 200px;
            @include max-laptop{
                width: 92vw;
             }
        }
    }
    
}
}


.comment {
    &__filter {
        .mobil-dropdown-button{
            @include max-laptop{
            justify-content: flex-end;
            display: flex;}
        }
        background-color: #f0f0f0;
        min-height: 50px;
        margin-bottom: 20px;
        &__filter-button{
            display: none;
            @include max-laptop{
                display: block;
                margin-top: 10px;
                font-size: 13px;
                border: 1px solid #ccc;
                outline: none;
                color: black;
                padding-top: 5px;
                padding-bottom: 5px;
                width: 100%;
                background-color: white;
            }
            img{
                width: 10px;
                position: absolute;
                right: 25px;
                top: 50%;
            }
        }
        &__dropdown {

            padding-top: 10px;
            padding-bottom: 10px;

            &:hover .comment__filter__dropdown__content {
                display: block;
            }

            float: left;
            overflow: hidden;
            font-size: 13px;
            border: none;
            outline: none;
            color: white;
            background-color: inherit;
            margin: 0;

            &--button {
                font-size: 13px;
                border: 1px solid #ccc;
                outline: none;
                color: black;
                padding-top: 5px;
                padding-bottom: 5px;
                width: 172px;
                background-color: white;
                margin: 0;

                img {
                    margin-left: 5px;
                    margin-right: 3px;
                    width: 5px;
                }
            }

            &__content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;

                a {
                    float: none;
                    color: black;
                    padding: 5px 16px;
                    text-decoration: none;
                    display: block;
                    text-align: left;

                    &:hover {
                        background-color: #ddd;
                    }
                }
            }
        }
    }

    &__row {
        &__name {
            font-weight: 700;
            font-size: $medium-font;
        }

        &__flag {
            span {
                margin-left: 5px;
                font-size: $medium-font;
                color: #999;
                font-weight: 600;
            }
        }

        &__stars {
            @include stars (107px, 21px, 105px);
            margin-right: 10px;

        }

        &__verified {
            font-size: $mini-font;
            color: #1ca444;
            font-weight: 600;
            padding-bottom: 4px;
            margin-top: 4px;

            span {
                padding-left: 3px;
            }

            img {
                margin-bottom: 2px;
            }
        }

        &__date {
            font-size: $small-font;
            color: #999;
        }

        &__size {
            font-size: $small-font;
            color: #999;
        }

        &__text {
            margin-top: 25px;
            font-size: $small-font;
            color: black;
        }

        &__evaluation {
            margin-top: 25px;
            font-size: $small-font;
            color: black;

            &--text-content{
                display: flex;
                align-items: center;
                
            }
            &--text {

                font-weight: 600;
                text-decoration: underline;
            }
            &--ques-answ{
                display: flex;
                align-items: center;
                justify-content: flex-end ;
                @include max-phone{
                    justify-content: start;
                    margin-top: 15px;
                }
            }
            &--question {
                font-size: $small-font;
                color: black;
                margin-right: 15px;
            }

            &--answerd {
                line-height: 25px;
                border: 1px solid #999;
                border-radius: 3px;
                background-color: white;
                padding: 0 10px;
                margin-right: 10px;
            }

        }
    }
}

.all-button {
    margin-top: 15px;
    &__self {
        font-size: $medium-font;
        padding: 10px;
        background: #000;
        color: #fff;
        text-transform: capitalize;
    }
}

/*similar products*/

.similar-products{
    margin-top: 35px;
    margin-bottom: 35px;
    &__content{
        &--head-text{
            font-size: $exta-big-font;
            
        }
        &__all-product{
            display: flex;
            justify-content: left;
            overflow-x: visible;
      
            &--one-product{
                cursor: pointer;
                left: 0;
                margin: 0 10px 0 0;
                min-width: 180px;
                height: auto;
                position: relative;
                color: #333;
                filter: brightness(0.95);
                @include max-tablet{
                    min-width: 24%;
                }
                @include max-phone{
                    min-width: 50%;
                }
                &--img{
                   width: 100%;
                }
                &--discount{
                    position: absolute;
                    top: 59%;
                    background-color: #db2b1d;
                    color: white;
                    width: 45px;
                    text-align: center;
                    font-size: $small-font;
                    height: 22px;
                    font-weight: 600;
                    padding-top: 2px;
                }
                &--heart{
                    position: absolute;
                    z-index: 1;
                    right: 7px;
                    top: 8px;
                    width: 27px !important;
                    height: 27px;
                    text-align: center;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    background: white;
                    border-radius: 110%;
                }
                &--footer{
                    margin-top: 10px;
                    letter-spacing: .3px;
                    &--price{
                        line-height: 1.5;
                        span{
                            font-size: $small-font;
                            color: #ce3535;
                            font-weight: 600;
                        }
                      del{
                        font-size: $small-font;
                        color: #6f6f6f;
                      }
                    }

                    &--name{
                        line-height: 1.5;
                        font-size: $small-font;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        overflow: hidden;
                    }
                    &--brand{
                        line-height: 1.5;
                        font-size: $small-font;
                    }

                   
                }
            }
        }
    }
}

