$xc-defeult-white:#fff;
$xc-white-1:#fdfdfd;
$xc-defeult-black:#000;
$xc-black-1:#1a1a1a;


$xc-color-grey-light-1:#e1e1e1;
$xc-color-grey-light-2:#f6f6f6;
$xc-color-grey-light-3:#f9f9f9;
$xc-color-grey-light-4:#fdfdfd;
$xc-color-grey-light-5:#ccc;
$xc-color-grey-light-6:#e1e1e1;
$xc-color-grey-light-7:#e7e7e7;
$xc-color-grey-light-8:#eee;

$xc-color-grey-dark-1:#444;
$xc-color-grey-dark-2:#494949;
$xc-color-grey-dark-3:#666;
$xc-color-grey-dark-4:#454545;

$xc-color-grey-border-1:#e7e7e7;



$xc-color-red-1:#db2b1d;
$xc-color-red-2:#ce3535;
$xc-color-red-light-1:#e91e63;

