$xc-phone-width: 576px;
$xc-tablet-width: 768px;
$xc-laptop-width: 992px;
$xc-desktop-width: 1200px;

@mixin min-phone {
  @media (min-width: #{$xc-phone-width}) {
    @content;
  }
}

@mixin phone {
  @media (min-width: #{$xc-phone-width}) and (max-width: #{$xc-tablet-width - 1px}) {
    @content;
  }
}

@mixin max-phone {
  @media (max-width: #{$xc-phone-width}) {
    @content;
  }
}

@mixin min-tablet {
  @media (min-width: #{$xc-tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$xc-tablet-width}) and (max-width: #{$xc-laptop-width - 1px}) {
    @content;
  }
}

@mixin max-tablet {
  @media (max-width: #{$xc-tablet-width}) {
    @content;
  }
}

@mixin min-laptop {
  @media (min-width: #{$xc-laptop-width}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$xc-laptop-width}) and (max-width: #{$xc-desktop-width - 1px}) {
    @content;
  }
}

@mixin max-laptop {
  @media (max-width: #{$xc-laptop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$xc-desktop-width}) {
    @content;
  }
}

@mixin max-desktop {
  @media (max-width: #{$xc-desktop-width}) {
    @content;
  }
}