.hedar-text-ext{
    font-family: $font-family; 
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.3px;
    color: $xc-color-black-1;
    font-weight: 600;
    
}
.home-banner-text-ext{
    margin: 10px 30px;
    color: $xc-color-black-1;
}

%text-image-carousel{
    
    display: block;
    height: 327px;
    cursor: pointer;
    &:hover {
        filter: brightness(0.95);
    }
}

%carousel-image {
    display: block;
        max-width: 100%;
        width: auto;
        vertical-align: middle;
        align-items: center;
        &:hover{
            filter: brightness(0.95);
            cursor: pointer;
          }
 

    &__table{
        @include max-tablet{
            display: none;
        }
    }
}