.cat-title {
    font-size: 2.3rem;
    letter-spacing: 1px;
    font-weight: 700;
}

.cat-button {
    margin-top: 1%;
    margin-left: 15px;
    @include max-laptop {
    display: none;
    }
    @include laptop {
    margin-left: 4px;
    }
}

.dropdown {
    margin-right: 15px;

    .btn-default {
        border-radius: 5px;
        background-color: $xc-color-defeult-white;
        border: solid 1px $xc-color-grey-dark-1;
        width: 150px;

        .dropdown-item {
            letter-spacing: .5px;
            font-size: $medium-font;
            padding: 0.4rem 3rem;
        }   
    }

    .dropdown-toggle:focus {
        border: solid 2px $xc-color-black-1;
        box-shadow: unset;
    }
}
.show {
    width: 300px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
}
.line-count {
    margin-top: 20px;
    @include max-laptop {
       display: none;
    }
    }

    .count {
        padding-top: 4px;
        text-align: center;
    }

    .count-artikel {
        font-size: $medium-font;
    }

    .left-sidebar{
        @include max-desktop{
            display: none;
        }
    }

    .filter-cat{
        @include max-laptop {
            padding-left: 53%;
        }
        .filter-img{
            @include max-laptop {
                height: 24px;
                margin-right: 1%;
            }
        }
        @include min-laptop {
            display: none;
        }
    }

    button:focus{
        @include max-tablet {
            outline: none;
        }
    }   