.footer-Area {
    background-color: $xc-color-grey-light-2;
    height: 65px;

    .nav-icon {
        max-width: 15px;
        margin-left: 50%;
        padding-top: 17px;
    }

    .area-text {
        font-size: $small-font;
        font-weight: 400;
    }
}

.footer-content {
    background-color: $xc-color-grey-light-1;
    height: 547px;
    width: 100%;

    &__is-nav {
        padding: 2.3% 0%;

        &--has-1 {
            font-size: $medium-font;
            line-height: 3;
            font-weight: 700;
            letter-spacing: 2px;
            color: $xc-color-black-1;
        }

        .border-footer {
            border-left: 1px solid $xc-color-grey-dark-2;

            .black-text {
                font-weight: 700;
                color: $xc-color-defeult-black;
            }

            .footer-icon {
                width: 24px;
                float: left;
                margin-right: 10px;
            }
        }

        &--has-2 {
            font-size: $medium-font;
            line-height: 1.1;
        }

        &--has-3 {
            padding-top: 67px;
            font-size: $medium-font;
            line-height: 1;
        }

        &--has-4 {
            font-size: $default-font;
            line-height: 1.5;
            width: 270px;

        }

        &--has-5 {
            font-size: $medium-font;
            line-height: 1.5;
            width: 325px;

            .ssl {
                margin-left: 10px;
            }
        }
    }

    &__payment-methods{
        margin-right: 3%;
    }


}

.copyright-content {
    display: flex;
    height: 65px;
    color: $xc-color-defeult-white;
    font-size: $medium-font;
    background-color: $xc-color-grey-dark-2;
}

.accordion {
    background-color: $xc-color-grey-light-6;
    color: $xc-color-defeult-black;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: $small-font;
    font-weight: bold;
    transition: 0.4s;
    margin-top: 1px;
}

.active,
.accordion:hover {
    background-color: $xc-color-grey-light-5;
}

.accordion:after {
    content: '\002B';
    color: $xc-color-defeult-black;
    font-weight: bold;
    font-size: $medium-2-font;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: $xc-color-defeult-white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-footer-nav1 {
    margin-top: 23px;
    font-size: $medium-font;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}



/* start 5 carousel */

.container{
  

.image-carousel{
    
        .row{
            margin-left: 0;
            margin-right: 0;
            .col-md-6{
                padding-right: 0;
                padding-left: 0;
                
            }
        }
    }
}


.image-carousel {
    &__is-top-text {
        margin-top: 73px;
        margin-bottom: 20px;
        width: 100%;
        color: $xc-color-black-1;
        font-weight: 700;
        line-height: 1.4;
        font-size: $exta-big-font;
  
    }

    &__is-border-1 {
        display: block;
        height: auto;
        width: 100%;
        padding-bottom: 1.2px;
        @include border($xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid, );

    

        &--mobil-text{
            @include min-tablet{
                display: none; 
            }
            @include max-tablet{
                display: block;
                height: 70px;
                color: $xc-color-black-1;
                align-items: center;
                display: flex;
                &:hover{
                    background-color: $xc-color-grey-light-1;
                    cursor: pointer;
                  }
            }
            span{
                font-size: 20px;
            }
        }
      
    }

    &__is-border-2 {
        display: block;
        width: 100%;
        @include border($xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid, none, );
        position: absolute;
      
  }
  

    &__is-border-3 {
        display: block;
        width: 100%;
        @include border($xc-color-grey-light-7 1px solid, $xc-color-grey-light-7 1px solid , $xc-color-grey-light-7 1px solid, none,);
        
  }


    &__is-border-4 {
        display: block;
        width: 100%;
        @include border(none, $xc-color-grey-light-7 1px solid , $xc-color-grey-light-7 1px solid, none,);
        
  }
 

    &__is-border-5 {
        display: block;
        width: 100%;
        @include border(none, $xc-color-grey-light-7 1px solid , $xc-color-grey-light-7 1px solid, none,);
        
  }
 

    &__has-1{
        display: block;
        max-width: 100%;
        width: auto;
        vertical-align: middle;
        align-items: center;
        &:hover{
            filter: brightness(0.95);
            cursor: pointer;
          }
          @include max-tablet{
            &:hover{
                filter: none;
                cursor: auto;
              }
          }
    }

    &__has-2{
        display: block;
        max-width: 100%;
       
        width: auto;
        vertical-align: middle;
        align-items: center;
        &:hover{
            filter: brightness(0.95);
            cursor: pointer;
          }
       
    }

    &__table{
        @include max-tablet{
            display: none;
        }
    }
}


/*end 5 caruasel */









