.footer-Area {
    background-color: $xc-color-grey-light-2;
    height: 65px;
    cursor: pointer;

    .nav-icon {
        max-width: 11px;
        margin-left: 50%;
        padding-top: 17px;
    }

    .area-text {
        font-size: 0.7rem;
        font-weight: 400;
        margin-top: 0.4%;
        text-transform: uppercase;
    }
}

.footer-content {
    background-color: $xc-color-grey-light-1;
    height: 546px;
    width: 100%;
    @include max-laptop {
        display: none;
    }
    &__is-nav {
        padding-top: 50px;

        &--has-1 {
            font-size: $medium-font;
            line-height: 3;
            font-weight: 700;
            letter-spacing: 2px;
            color: $xc-color-black-1;
        }

        .border-footer {
            border-left: 1px solid $xc-color-grey-dark-2;

            .black-text {
                font-weight: 700;
                color: $xc-color-defeult-black;
            }

            .footer-icon {
                width: 26px;
                float: left;
                margin-right: 10px;
            }
        }

        &--has-2 {
            font-size: $medium-font;
            line-height: 1.8;
        }

        &--has-3 {
            padding-top: 67px;
            font-size: $medium-font;
            line-height: 1;
        }

        &--has-4 {
            font-size: $medium-font;
            line-height: 1.8;
            width: 270px;
            padding-top: 2px;
        }

        &--has-5 {
            font-size: $medium-font;
            line-height: 1.5;
            width: 264px;
            margin-top: 15px;

            img {
                margin-right: 10px;
            }

            .ssl {}
        }
    }

    &__payment-methods {
        margin-right: 3%;
    }


}

.copyright-content {
    display: flex;
    height: 65px;
    color: $xc-color-defeult-white;
    font-size: $medium-font;
    background-color: $xc-color-grey-dark-2;
}

.accordion {
    background-color: $xc-color-grey-light-6;
    color: $xc-color-defeult-black;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: $small-font;
    font-weight: bold;
    transition: 0.4s;
    margin-top: 1px;
}

.active,
.accordion:hover {
    background-color: $xc-color-grey-light-5;
}

.accordion:after {
    content: '\002B';
    color: $xc-color-defeult-black;
    font-weight: bold;
    font-size: $medium-2-font;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: $xc-color-defeult-white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-footer-nav1 {
    margin-top: 23px;
    font-size: $medium-font;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.black-text {
    font-weight: 700;
    color: #000;
}

.footer-mobil-icon {
    margin-top: 20px;

    font-size: $medium-font;


    .m-icon {
        width: 30px;
        margin-right: 10px;
    }
}

.mobil-payment {
    margin-top: 10px;

    &__icon {
        width: 59px;

        margin-right: 20%;
    }
}

.mobil-versand {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mobil-ssl-trusted {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mobil-footer-text {
    margin-left: 1%
}

.copyright-content {
    a {
        color: white;
    }

    @include max-tablet {
        .right-footer {
            justify-content: center !important;
        }

        .copyright {
            text-align: center;
        }
    }
}

.accordion-footer{
    @include min-laptop{
        display: none;
    }
}