/* Footer Image & Email Content */
.footer-image-contact {
    position: relative;
    display: block;
    margin-top: $big-blok-spacing;
    height: 500px;
    width: auto;
    @include background("../../../images/footer-image.jpg", right 100% bottom 70%, no-repeat, cover);

    &__text-area {
        position: absolute;
        margin-top: $mini-blok-spacing;
        height: 281px;
        width: 550px;
        background-color: $xc-color-defeult-white;
        border: 1px solid $xc-color-grey-light-7;
        border-radius: 4px;
        @include max-tablet {
            width: 93%;
            height: auto;
                 .col-sm-6{
                 min-height: 35px;
                 margin-top: 2%;
            }
        }

        &__content {
            display: block;
            position: relative;
            margin: 6.7% 5%;

            &--title {
                font-size: $exta-big-font;
                font-weight: 700;
                letter-spacing: -.8px;
                line-height: 1.125;
                margin-bottom: 1em;
            }

            &--subtext {
                font-size: $default-font;
                line-height: 1.2;
                margin-bottom: $big-spacing;
            }

            &--emailtext {
                line-height: 1.5;
                font-weight: 700;
                color: $xc-color-black-1;
                margin-bottom: $small-spacing;

            }

            &--button {
                background-color: $xc-color-black-1;
                color: $xc-color-grey-light-1;
                width: 100%;
                height: 100%;
            }

            &--minitext {
                font-size: $mini-font;
                margin-top: 1.5em;
            }

        }
    }
}

/* Footer Description */
.footer-description {

    margin: $exta-spacing 0px;

    &__is-title {
        font-size: $exta-big-font;
        margin-bottom: 1rem;
        line-height: 36px;
    }

    &__is-text {
        font-size: $medium-font;
        line-height: 1.2;
        margin-bottom: 1.2em;
        color: $xc-color-defeult-black;
    }

}