.breadcrumb{
    background-color: white;
    padding-left: 0px;
    .breadcrumb-item{
        color:$xc-color-black-1;
        a{
            color: #858484;
            font-size: 14px;
        }

    }
}

.nav{
    &__li{
        padding: 10px 0;
        line-height: 22px;
     
        &__a{
            color: $xc-color-black-1;
            font-size: 16px;
            border-bottom: 0 solid #1a1a1a;
            transition: all .15s;
            &:hover{
            color: $xc-color-black-1;
            font-weight: 700;
            border-bottom-width: 2px;
            text-decoration: none;
            
            }
        }

        &__active{
            color: $xc-color-black-1;
            font-weight: 700;
            border-bottom-width: 2px;
            text-decoration: none;
        }
    }
}
.help-page-content{
&__is-head-title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}
&__is-title{
    font-size: 16px;
    border-bottom: 2px solid #1a1a1a;
    cursor: pointer;
    font-weight: 700;
    color: $xc-color-black-1;
    &:hover{
        text-decoration: none;
        color: $xc-color-black-1;
    }
}
&__answer{
    margin-top: 10px;
    line-height: 1.5;
    margin-bottom: 30px;

    &--read-more{
    color: #1a1a1a;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
    &:hover{
        color: $xc-color-black-1;
    }
}
    }
}

.image{
    width: 13px;
 -webkit-transform: scaleX(-1);
transform: scaleX(-1);
margin-right: 9px;

}